@import "~typeface-roboto";

$font-family: "Roboto",
sans-serif;
$color-primary: #333;
$color-secondary: #666;

.headphone {
    width: 400px;
    height: 768px;
    border-radius: 8px;
    border: 1px solid #E7E6EB;
    background: #FFF;
    box-shadow: 0px 8px 24px 0px rgba(0, 0, 0, 0.08);
    padding: 10px 40px;

    &__img {
        display: block;
        margin: 0 auto;
        width: 240px;
        height: 240px;
    }

    &__text {
        font-family: $font-family;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        margin-top: 8px;
    }

    &__price {
        @extend .headphone__text;
        font-size: 32px;
        font-weight: 700;
        color: $color-primary;
        margin-top: 24px;
    }

    &__title {
        @extend .headphone__text;
        font-size: 24px;
        font-weight: 500;
        color: $color-primary;
        margin-top: 14px;
    }

    &__descr {
        @extend .headphone__text;
        font-size: 16px;
        color: $color-primary;
        width: 320px;
    }

    &__choose {
        @extend .headphone__text;
        font-size: 16px;
        color: $color-secondary;
        margin-top: 20px;
    }

    &__link {
        @extend .headphone__text;
        text-decoration-line: underline;
        font-size: 16px;
        color: #61A5FA;
        display: block;
        margin-top: 25px;
    }

    .color__wrapper {
        display: flex;
        gap: 16px;
    }

    .add__btn {
        @extend .headphone__text;
        font-size: 24px;
        font-weight: 400;
        line-height: normal;
        width: 320px;
        height: 55px;
        border-radius: 8px;
        margin-top: 25px;
        cursor: pointer;
        color: $color-primary;
        border: none;
        background: #FBBF23;
    }

    .buy__btn {
        @extend .add__btn;
        border: 1px solid #61A5FA;
        background: none;
        margin-top: 14px;
    }

}